## The following requirements were added by pip freeze:
alembic==0.8.10
appdirs==1.4.0
Cython==0.25.2
docutils==0.13.1
Kivy==1.9.1
Kivy-Garden==0.1.4
Mako==1.0.6
MarkupSafe==0.23
packaging==16.8
pkg-resources==0.0.0
pygame==1.9.3
pyparsing==2.1.10
python-editor==1.0.3
requests==2.13.0
six==1.10.0
SQLAlchemy==1.1.5
